<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <img src="pictures/burger_img.jpg" alt="A Burger" id="burger-img">
            <h1>Eat Da Burger</h1>
        </div>


        <div class="col-xs-6" class="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div id="fresh-burger" class="col-xs-9 tex-center">
                    <pre id="text" class="col-xs-9">
                    {{this.id}}. {{this.burger_name}}
                </pre>

                </div>
                <div class="devourbtn col-xs-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input input type="hidden" type="text" name="burger_id" value={{this.id}}> <br>
                        <button type="submit" class="btn btn-default">Devour It!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-xs-6 tex-center" class="task">
            {{#each burger_data}}
            {{#if this.devoured}}
            <input type="text" class="form-control" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
            <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
            <button type="submit" class="btn btn-success" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a Burger that you've been thinking of and click "Submit"</p>
        </div>
    </div>
</div>